body {
  background-color: tomato;
}

#intro {
  position: relative;
  width: 50%;
  font-family: montserrat, opensans, arial;
  font-weight: 800;
  font-size: 72px;
  margin: auto;
  text-align: center;
  color: #fff;
  margin-top: 80px;
}

a {
  color: #21313F;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}