body {
  background-color: tomato;
}

#intro {
  position: relative;
  width: 50%;
  font-family: montserrat, opensans, arial;
  font-weight: 800;
  font-size: 72px;
  margin: auto;
  text-align: center;
  color: #fff;
  margin-top: 80px;
}

a {
  color: #21313F;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#text{
  position: relative;
  width: 50%;
  font-family: montserrat, opensans, arial;
  font-weight: 800;
  font-size: 36px;
  margin: 80px auto 60px auto;
  text-align: center;
  color: #21313F;
}

#pins {
  font-weight: 800;
  font-size: 72px;
  color: #fff;
  font-weight: 900;
}

#number {
  font-weight: 800;
  font-size: 127px;
  color: #fff;
  font-weight: 900;
  line-height: 94px;
}

#score-wrapper {
  position: relative;
  margin: auto;
  text-align: center
}

#ball {
  position: relative;
  height: 400px;
  width: 400px;
  background-color: white;
  border-radius: 200px;
  margin: auto;
  margin-top: 40px;
  cursor: pointer;
}

#finger-container {
  height: 60px;
  width: 200px;
  margin: auto;
  display: flex;
  margin-top: 20px;
}

.finger-hole {
  flex-direction: row;
  position: relative;
  height: 60px;
  width: 60px;
  background-color: #21313F;
  border-radius: 30px;
  margin: auto;
  top: 30px;
}
